.coordinate {
  border: 0.15em solid #ffffff;
}

.coordinate > .row > .square:first-child {
  border-left: none;
}

.coordinate > .row:first-child > .square {
  border-top: none;
}

.square {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.15em solid #ffffff;
  border-left: 0.15em solid #ffffff;
}

.row {
  display: flex;
}

.carrier {
  color: #264653;
}

.battleship {
  color: #2a9d8f;
}

.cruiser {
  color: #e9c46a;
}

.submarine {
  color: #f4a261;
}

.destroyer {
  color: #e76f51;
}
