.index {
  width: 2.03em;
  height: 2.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coordinate {
  border: 0.15em solid #ffffff;
}

.coordinate > .row > .square:first-child {
  border-left: none;
}

.coordinate > .row:first-child > .square {
  border-top: none;
}

.square {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.15em solid #ffffff;
  border-left: 0.15em solid #ffffff;
}

.row {
  display: flex;
}

.carrier {
  background-color: #264653;
  color: #fff;
}

.battleship {
  background-color: #2a9d8f;
  color: #fff;
}

.cruiser {
  background-color: #e9c46a;
}

.submarine {
  background-color: #f4a261;
  color: #fff;
}

.destroyer {
  background-color: #e76f51;
  color: #fff;
}
