.ship-list {
  background-color: #fca311;
  color: #ffffff;
  position: relative;
  z-index: -1;
  text-align: center;
  min-width: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ship-list > div > div {
  margin: 2em 0;
}

.display .ship-list:first-child {
  left: 1.5em;
  padding: 1em 2.5em 1em 1em;
  border-radius: 1.5em 0 0 1.5em;
}

.display .ship-list:nth-child(2) {
  right: 1.5em;
  padding: 1em 1em 1em 2.5em;
  border-radius: 0 1.5em 1.5em 0;
}

.ship-list button {
  background-color: #000;
  color: #FFF;
  padding: 0.5em;
  border-radius: 10%;
}

.ship-list:first-child button {
  margin-right: 0.4em;
}