body {
  font-family: "Libre Baskerville";
  margin: 0;
  padding-top: 2em;
  width: 100vw;
  height: 100vh;
  background-color: #14213d;
  overflow-x: hidden;
}

body * {
  opacity: 1;
}

* {
  box-sizing: border-box;
  opacity: 1;
}

h1,
h3 {
  font-family: "Fjalla One";
  text-transform: uppercase;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.boards {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.board,
.logs {
  background-color: #e5e5e5BB;
}

.heading {
  color: #FFFFFF;
  border-radius: 1em;
  padding: 0 1.5em;
}

.board {
  border-radius: 1.5em;
  padding: 0 1em;
  max-width: 50%;
}

.logs {
  border-top: 0.5em solid #fca311;
  width: 100%;
  overflow-y: scroll;
  padding: 0.2em 1em;
  height: 20%;
}
