* {
  box-sizing: border-box;
}

body {
  padding: 1em;
  font-family: "Fauna One";
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url("/background.jpg");
  background-size: cover;
  background-position: center center;
}

h1, h2 {
  font-family: "Cinzel";
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.boards {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.heading,
.board,
.logs {
  background-color: #ffffff;
}
