body {
  font-family: "Libre Baskerville";
  margin: 0;
  padding-top: 2em;
  width: 100vw;
  height: 100vh;
  background-color: #14213d;
  user-select: none;
}

body * {
  opacity: 1;
}

* {
  box-sizing: border-box;
  opacity: 1;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.board,
.logs {
  background-color: #e5e5e5;
}

.heading {
  color: #ffffff;
  border-radius: 1em;
  padding: 0 1.5em;
  letter-spacing: 0.5em;
}
